page-ingre-detail {
    //text-align: center;
    input {
        width: 50%;
        text-align: center;
        //white-space: normal
        //margin-left: 100px;
    }
    ion-label {
        width: 50%;
        text-align: left;
    }
}
