page-predict {
    
    button {       
        //left: 20%;
        width: 200px;
        
    }
    .buttons {
        //padding-top: 30px;
        text-align: center;
    }
    .item {
        margin-bottom: 30px;
    }
}
